.pacman{
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 2;
}

.pacman:focus{
    outline: none;
}

.pacman-right{

}

.pacman-left{
    transform: rotateY(180deg);
}

.pacman-up{
    transform: rotate(-90deg);
}

.pacman-down{
    transform: rotate(90deg);
}