.food{
    position: absolute;
    width: 20px;
    height: 20px;
    z-index: 0;
}

.food-dot{
    display: block;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: yellow;
}