.ghost{
    position: absolute;
    height: 20px;
    width: 20px;
    z-index: 1;
}

.ghost-red{
    fill: red;
}

.ghost-green{
    fill: green;
}

.ghost-blue{
    fill: blue;
}

.ghost-black{
    fill: black;
}

.ghost-white{
    fill: white;
}

.ghost-brown{
    fill: brown;
}